* {margin: 0; padding: 0;}
 
body 
{
	   width: 1347px;
	   margin: auto;
}
marquee{
   
   color :red;
}
.header {
   width: 100%;
   height: 500px;
   position: relative;
}

.header .gam2 {
   position: absolute;
   margin-left: 43%;
   margin-top: 30px;
   margin-right: 50%;
   width: 210px;
   height: 210px; 
}
.header .gambar{
   width: 100%;
   height: 498px;
   position: absolute;
    left: 0;
    margin-left: 550px;
    margin-top: 30px;
    width: 210px;
    height: 210px;    
}
.header .gambar {
   width: 1000px;
    height: 498px;
	position: absolute;
}
menu {
   
   height: 20px ; 
   background: linear-gradient(#000046, #1cb5e0);
   padding: 10px

}

menu li{
   list-style: none;
   float: right;
   margin-right: 60px; 
	color: #fff
}
menu li a{
   color: white;
}

.header .pa{
   position: absolute;
   margin: 300px 0px 0px 110px;
   font-size: 30px;
   line-height: 30px;
   font-family: Sitka Small;
   color: #ff6600;
   border-bottom: 5px solid #000000 ;
}

.header .bing {
   position: absolute;
   width: 110px;
   height: 40px;
   margin: 370px 0px 0px 110px;
}

.header .wib{
   position: absolute;
   width: 70px;
   margin: 375px 0px 0px 225px;
}

																			   /* class pertama */

.pertama{
   width: 100%;
   height: 700px;
   background-color: #00b386
}

.pertama h2{
   position: relative;
   text-align: center;
}

.pertama img{
   margin-top: 100px;
   margin-left: 139px; 
   width: 150px;
   height: 120px;
}


.pertama .perba {
   margin-top: 140px;
   margin-left: 145px;
}

.pertama .perba img{
   margin-top: 0px;
   margin-left: 139px; 
   width: 150px;
   height: 120px;
}

																			   /* class pertama*/


																			   /* class all*/

.all {
   width: 100%;
   margin-top: 1px;
   overflow: hidden;
   background-color:#333;
   height: 400px;
}

.all .alltengah img{
	border-radius: 25px;
   width: 100%;
}

.all .alltengah {
	
	border-radius: 25px;
   background-color: #cccccc;
   width: 300px;
   height: 359px;
   float: left; 
   margin: 20px 0px 20px 30px;
}

.all .alltengah:hover{
   transition: 0.5s;
   background-color: #008060;
   box-shadow: 2px 2px 2px #333;
}
.all .alltengah p{
	padding-left: 5px;
}

.all .alltengah img{
   width: 200px;
   margin-left: 50px;
   margin-top: 20px;
   opacity: 0.2;
   transition: 0.5s;
}

.all .alltengah:hover img{
   transition: 0.5s;
   width: 296px;
   margin: 2px 0px 2px 2px;
   opacity: 100%;
}




																		   /* class all */


									   
.akhir {
   width: 100%;
   margin-top: 1px;
   overflow: hidden;
   background-color: #2547e0;
}

.akhir .kiri {
   float: left;
   width: 250px;
   background-color: orange;
}

.akhir .kiri img{
   width: 100px;
   height: 100px;
   margin-top: 5px;
   margin-left: 72px;

}

.akhir .kiri .sos{
   margin: 0 5px; 
   border-top: 5px solid #333 ;
}

.akhir .kiri .sos h3 {
   text-align: center;
   margin: 10px 0 10px;
}

.akhir .kiri .sos img {
   width: 35px;
   height: 35px;
   margin-left: 1px; 
}

.akhir .kiri .sos img:hover {
   background-color: blue;
}
																			   /* class akhir kiri*/


																			   /* class akhir kanan*/
.akhir .kanan {
   float: right;
   width: 250px;
   background-color: orange;
}


.akhir .kanan .pesan{
   margin: 0 5px;
   border-top: 5px solid #333
}

.akhir .kanan .pesan h3 {
   text-align: center;
   margin: 10px 0 10px;
}

input[type="text"] {
   width: 98%;
   border-radius: 3px;
}

input[type="email"] {
   width: 98%;
   border-radius: 3px;
} 

input[type="submit"] {
   width: 50%;
   padding: 5px;
   cursor: pointer;
}

.akhir .kanan .pesan textarea {
   width: 100%;
   height: 100px;
   border-radius: 3px;
   max-width: 234px;
   max-height: 600px;
}

																			   /* class akhir kanan*/


.container{
	   width: 100%;
	   position: relative;
	   display: flex;
	   justify-content: space-between;
	   background-color: red;
   }

  

   .box{
	   width: 300px;
	   height: 200px;
	   transition: 0.5s;
   }

   .box.sub-box-1{
	   
	   background: #333;
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   z-index: 1;
	   transform: translateY(100px);
   }

   .card:hover .box.sub-box-1{
	   background: #3CB5B5;
	   transform: translateY(0);
   }

   .box.sub-box-1 .content{
	   opacity: 0.2;
	   transition: 0.5s;
   }

   .card:hover .box.sub-box-1 .content{
	   opacity: 1;
   }

   .box.sub-box-1 .content img{
	   max-width: 100px;
   }

   .box.sub-box-1 .content h3{
	   margin: 10px 0 0;
	   padding: 0;
	   color: #fff;
	   text-align: center;
	   font-size: 1.5em;
   }

   .box.sub-box-2{
	   background: #fff;
	   align-items: center;
	   padding: 20px;
	   box-sizing: border-box;
	   box-shadow: 0 10px 5px rgba(0, 0, 0, 0.8);
	   transform: translateY(-100px);
   }

   .card:hover .box.sub-box-2{
	   transform: translateY(0);
   }

   .content a{
	   margin-top: 30px;
	   text-decoration: none;
	   color: #333;
	   border: 1px solid #333;
	   padding: 10px;
   }

   .box.sub-box-2 .content a:hover{
	   background: #3CB5B5;
	   border: 1px solid #3CB5B5;
	   color: #fff;
   }


																			   /*kay frame*/ 

.fade-in{
   animation : fadeIn 2s;
}
.fade-in2{
   animation : fadeIn 2s;
   margin-top: 10px;
}

@keyframes fadeIn{
   from{
	   opacity: 0;
   }

   to{
	   opacity: 1;
   }
}
.kontak-kami-lokal{
	width: 25%;/**/
	color: blue;/*untuk membuat text berwarna biru*/
  }
  .kontak-kami-internasional{
	width: 25%;/**/
	color: blue;/*untuk membuat text berwarna biru*/
  }
  .row{
	width: 100%;/**/
	font-family: sans-serif;/**/
	display: flex;/**/
	justify-content: space-between;/**/
	background-color: #dddddd;/*untuk membuat background berwarna putih tulang*/
  }
  .row:after {
	clear: both;/**/
  }
  .row:before, .row:after {
	content: " ";/**/
	display: table;/**/
  }
  .zoom-icon-effect{
	position: relative;/**/
	width: 100%;/**/
	height: 50px;/**/
	margin: 0 auto;/**/
	overflow: visible; /**/
  }
  .zoom-icon-effect:hover img {
	-webkit-transform: scale(1.08);/**/
	transform: scale(1.08);/**/
  }
  .medsos{
	display: flex;/**/
  }
footer{
	padding-left: 10px;
	color: white;/*untuk membuat text berwarna putih*/
	background-color:purple;/*untuk membuat text berwarna ungu*/
  }
  footer img{
	float :right;/**/
	width:20%; /**/
	height:20%;/**/
  }
footer a{
	  margin-bottom: 100px;
	  padding-bottom: 1000px;
  }
 marquee{
	 color:red;
 }
